{% assign current_lang=page.lang %}
{% assign pages=site.pages | where:"lang", page.lang %}
<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary mt-3">
    <div class="navbar-collapse">
        <ul class="navbar-nav mr-auto">
            {% for item in pages %}
            {% if item.position == "bottom" %}
                <li class="nav-item {% if item.title == page.title %}active{% endif %}">
                    <a href="{{ site.baseurl }}{{ item.url }}" alt="{{ item.alt }}" class="nav-link ">{{ item.title }}</a>
                </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>
