{% assign current_lang=page.lang %}
<footer class="row columns expanded n-mt-4">
    <nav>
        <ul class="menu vertical medium-horizontal">
                {% assign pages=site.pages | where:"lang", page.lang %}
                {% for item in pages %}
                {% if item.position == "bottom" %}
                    <li class="{% if item.title == page.title %}active{% endif %}">
                        <a href="{{ site.baseurl }}{{ item.url }}" alt="{{ item.alt }}">{{ item.title }}</a>
                    </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>
</footer>
