{% assign current_lang=page.lang %}

<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="example-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-menu">
    <div class="top-bar-title">
        {% if page.lang == "de" %}
        <a class="" href="{{ site.baseurl }}/de/home/">*metrics</a>
        {% else %}
        <a class="" href="{{ site.baseurl }}/">*metrics</a>
        {% endif %}
    </div>
    <nav class="top-bar-left">
        <ul class="dropdown menu vertical medium-horizontal" data-dropdown-menu>
            {% assign pages=site.pages | where:"lang", page.lang %}
            {% for item in pages %}
            {% if item.position == "top" %}
            <li class="{% if item.title == page.title %}active{% endif %}">
                <a href="{{ site.baseurl }}{{ item.url }}" alt="{{ item.alt }}" class="">{{ item.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
    <nav class="top-bar-right">
        <ul class="menu">
            {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
            {% for page in pages %}
            <li class="{% if current_lang == page.lang %}active{% endif %}">
                <a href="{{ site.baseurl }}{{ page.url }}" class="">{{ page.lang | upcase }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>
