// http://codepen.io/chriscoyier/pen/uwJjr

html,
body {
  min-height: 100vh;
}

body {
  display:flex;
  flex-direction: column;
}

.sticky-footer-wrap {
  flex: 1 0 auto;
}

.sticky-footer{
  height: $sticky-footer-height;

  @include breakpoint(medium only) {
    height: ($sticky-footer-height * 1.5);
  }

  @include breakpoint(small only) {
    height: ($sticky-footer-height * 3);
  }
}

.sticky-footer {
  background: url(../img/bubbles_bottom.svg) repeat-x bottom left;
}
