// http://codepen.io/chriscoyier/pen/uwJjr

html,
body {
  height: 100%;
}

.sticky-footer-wrap {
  min-height: 100%;
  margin-bottom: -$sticky-footer-height;
}

.sticky-footer-wrap::after {
  content: "";
  display: block;
}

.sticky-footer,
.sticky-footer-wrap::after {
  height: $sticky-footer-height;
}

.sticky-footer {
  background: url(../img/bubbles_bottom.svg) repeat-x bottom left;
}
