/* metrics CI */
$metrics-orange: #ec6236;
$metrics-purple: #3d325e;
$metrics-blue: #449dd7;
$metrics-grey: #9a9b9b;

// http://booking.stfi.re/implementing-system-fonts-on-booking-com-a-lesson-learned-bdc984df627f
$body-font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
// $body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !default;

$global-font-size: 16px;
$global-lineheight: 1.75;
$foundation-palette: (
  primary: $metrics-purple,
  secondary: $metrics-orange,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

$breakpoints: (
  small: 0,
  medium: 768px,
  large: 960px
);

$header-lineheight: 1.25;
$header-margin-bottom: 0.33rem;

$header-styles: (
  'large': (
    'h1': ('font-size': 2.33rem, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h2': ('font-size': 2rem, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h3': ('font-size': 1.66rem, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h4': ('font-size': 1.33rem, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h5': ('font-size': 20, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
    'h6': ('font-size': 16, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom)
  )
);

$breakpoint-classes: (small medium large);

$topbar-background: #fff;

$grid-row-width: 960px;

$global-width: rem-calc(960);

// $header-color: $metrics-purple;
$header-lineheight: 1.1;

@import "../node_modules/foundation-sites/scss/foundation.scss";

@include foundation-everything;


nav a {
  color: #000;
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

main {
  a {
    color: $metrics-purple;
    font-weight: 600;
  }

  a::after {
    content: "+";
    vertical-align: super;
    font-size: 75%;
  }
}

$listName: 1, 2, 3, 4, 5, 6;
$listSizes: 0.5, 1, 1.5, 2, 2.5, 3;
$listAttr: "margin", "padding";
$listDir: "top", "bottom", "left", "right";

@each $attr in $listAttr {
  @each $name in $listName {
    @each $dir in $listDir {
      .#{$attr}#{"-"}#{$dir}#{"-"}#{$name} {
        #{$attr}#{"-"}#{$dir}: #{nth($listSizes, $name) + "rem"};
      }
    }
  }
}

table.small-stack {
  @include breakpoint(small only) {
    @include table-stack;
  }
}

.team_member_img {
  border-bottom: 5px solid $metrics-blue;
}

.small-centered-text {
  @include breakpoint(small only) {
    text-align: center;
  }
}

.active_footer,
.active_language {
  font-weight: 600;
}

.tools {
  text-align: right;

  @extend .margin-top-2;
}

.languageswitch {
  display: inline;

  @extend .margin-left-2;
}

.symbol_nav {
  img {
    width: 25px;
  }

  @include breakpoint(medium only) {
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}

.menu .active a {
  background-color: #fff;
  color: #000;
}

.top-bar {
  // border-bottom: 5px solid $metrics-purple;
  padding-bottom: 0;
  // background-color: $metrics-purple;

  .dropdown {
    @include breakpoint(medium only) {
      a {
        padding: 0 0.5rem;
      }
    }

    @include breakpoint(medium) {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }
  }

  nav {

    // border-bottom: 5px solid $metrics-purple;

    .active {
      a {
        // border-bottom: 5px solid $metrics-blue;
      }
    }
  }
}

.claim {
  font-weight: 500;
  font-size: 1.33rem;
  line-height: 1.33;


  @include breakpoint(medium only) {
    font-size: 1rem;
    line-height: 1;
  }

  @extend .margin-top-4;
}

.menu_title {
  white-space: nowrap;
  text-align: center;
}

.timeline-Header-title {
  display: none;
}

.featurebox__icon {
  border-bottom: 5px solid $metrics-blue;
  min-height: 3rem;
  height: 3.33rem;
  vertical-align: bottom;

  @extend .text-center;
  @extend .padding-bottom-1;

  img {
    width: 25px;
  }
}

.featurebox__header {
  border-bottom: 5px solid $metrics-purple;
  min-height: 3.33rem;

  @extend .padding-bottom-1;
}
