@import "vars";
@import "../node_modules/foundation-sites/scss/foundation.scss";

@include foundation-everything;

@import "utils";
@import "featurebox";
@import "nav";
@import "footer";
@import "sticky-footer";

body {
  background: url(../img/bubbles.svg) repeat-x top left;
  padding-top: 4rem;
}

main {
  @extend .row;
  @extend .margin-bottom-5;

  a {
    color: $metrics-purple;
    font-weight: 600;
  }

  a::after {
    content: "+";
    vertical-align: super;
    font-size: 75%;
  }
}

table.small-stack {
  @include breakpoint(small only) {
    @include table-stack;
  }
}

.team_member_img {
  border-bottom: 5px solid $metrics-blue;
}

.active_footer,
.active_language {
  font-weight: 600;
}

.tools {
  text-align: right;

  @extend .margin-top-2;

  @include breakpoint(small only) {
    display: none;
  }
}

.languageswitch {
  display: inline;

  @extend .margin-left-2;
}

.claim {
  font-weight: 500;
  font-size: 1.33rem;
  line-height: 1.33;

  @extend .margin-top-4;

  @include breakpoint(medium only) {
    font-size: 1rem;
    line-height: 1;
  }

  @include breakpoint(small only) {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0;
  }
}

.mansonry__wrap {
  @include breakpoint(small only) {
    padding: 0;
  }
}
