{% include page_start.html %}

{% assign current_lang = page.lang %}

{% if page.ref == "index" %}
{% assign is_home = "active" %}
{% endif %}

<div class="top-bar show-for-medium">
    <div class="row columns">
        <div class="clearfix">
            <ul class="menu float-left">
                <li class="{{ is_home }}">
                    {% if page.lang == "de" %}
                    <a href="{{ site.baseurl }}/de/home/" alt="">Startseite</a>
                    {% else %}
                    <a href="{{ site.baseurl }}/" alt="">Home</a>
                    {% endif %}
                </li>
            </ul>
            <ul class="menu float-right">
                {% assign pages=site.pages | where:"ref", page.ref | sort: "lang" %}
                {% for item in pages %}

                    {% comment %}
                        take care about which language link has to be displayed as active
                    {% endcomment %}
                    {% assign active_class = "" %}
                    {% if current_lang == item.lang %}
                        {% assign active_class = "active" %}
                    {% endif %}

                <li class="{{ active_class }}">
                    <a href="{{ site.baseurl }}{{ item.url }}" class="">{{ item.lang | upcase }}</a>
                </li>

                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="row columns">
    <h1 class="margin-top-2 margin-bottom-1">
        {% if page.lang == "de" %}
        <a class="" href="{{ site.baseurl }}/de/home/">{{ site.title }}</a>
        {% else %}
        <a class="" href="{{ site.baseurl }}/">{{ site.title }}</a>
        {% endif %}
    </h1>
</div>
{% include nav.html %}
<main class="row columns">
    <h1 class="margin-top-2">{{ page.title }}</h1>
    {{ content }}
</main>

{% if page.comments == true %}
{% include comments.html %}
{% endif %}

{% include footer.html %}
{% include page_end.html %}
