{% include page_start.html %}

{% assign current_lang = page.lang %}

{% if page.ref == "index" %}
{% assign is_home = "active" %}
{% endif %}

{% include topbar.html %}

{% include hero.html %}

{% include nav.html %}

<main class="row">
    <div class="columns large-8 medium-10 medium-centered">
        <h1 class="margin-top-2">{{ page.title }}</h1>
        {{ content }}

        {% if page.comments == true %}
            {% include comments.html %}
        {% endif %}

        {% if page.parent %}
        {% assign parentpage = site.pages | where:"ref", page.parent | where:"lang", page.lang %}
        {% assign children = site.pages | where:"parent", page.parent %}
        {% assign asdf = children | where:"lang", page.lang %}
        <h3>Weitere Seiten in "{{ parentpage[0].title }}"</h3>
        <ul>
        {% for child in asdf %}
            {% unless child.title == page.title %}
                <li><a href="{{ site.baseurl }}{{ child.permalink }}">{{ child.title }}</a></li>
            {% endunless %}
        {% endfor %}
        </ul>
        {% endif %}
    </div>
</main>

{% include footer.html %}
{% include page_end.html %}
