{% include page_start.html %}
{% assign current_lang = page.lang %}
{% if page.ref == "index" %}
{% assign is_home = "active" %}
{% endif %}
<div class="off-canvas-content" data-off-canvas-content>
    <div class="sticky-footer-wrap">
        {% include hero.html %}
        {% include nav.html %}
        <main>
            {{ content }}
            {% if page.comments == true %}
                {% include comments.html %}
            {% endif %}
        </main>
    </div>
    {% include footer.html %}
</div>
{% include page_end.html %}
